gensim==4.3.2
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
scipy==1.11.4
spacy==3.7.4
tqdm==4.66.2
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-core==5.7.2
jupyter-client==8.6.0
jupyterlab-pygments==0.3.0
jupyterlab-widgets==3.0.10
matplotlib==3.8.4
matplotlib-inline==0.1.7
nbclient==0.9.0
nbconvert==7.16.3
nbformat==5.10.4
seaborn==0.13.2
sentence-transformers==2.5.1
twython==3.9.1